.Register > h1 > button {

    color: white;
}

.form_login {
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(115, 113, 113, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    text-align: center;
}


.form_register {
    position: relative;
    width: 440px;
    height: 475px;
    background: transparent;
    border: 2px solid rgba(115, 113, 113, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    text-align: center;
}

a {
    text-decoration: none;
}

.form_register > h3 {
    color: rgb(235, 181, 118);
    margin-bottom: 10px;
    margin-top: 10px;
}


.form_login > h3 {
    color: rgb(235, 181, 118);
    margin-bottom: 25px;
}

.inp_login > input {
    width: 265px;
    height: 45px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(235, 181, 118);
    color: rgb(235, 181, 118);
    font-size: 17px;
    outline: none;
    margin-bottom: 5px;
    padding-right: 50px;
}

.forgot_pass {
    background-color: aliceblue;
    width: 300px;
    height: 30px;
    margin-left: 70px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    background: none;
}

.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(235, 181, 118);
}

.forgot > a {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(253, 135, 0);
}

.login_acc {
    border: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(235, 181, 118);
    color: white;
    cursor: pointer;
    transition: 0.6s;
}

.login_acc:hover {
    background-color: white;
    color: rgb(235, 181, 118);
}



.rgt > p {
    font-size: 15px;
    color: rgb(235, 181, 118);
}

.test_rgt {
    color: rgb(253, 135, 0);
}

.icon_login_mail {
    position: absolute;
    right: 75px;
    top: 135px;
    font-size: 17px;
    color: rgb(235, 181, 118);
}

.icon_register_mail {
    position: absolute;
    right: 75px;
    top: 175px;
    font-size: 17px;
    color: rgb(235, 181, 118);
}


.icon_login_pass {
    position: absolute;
    right: 75px;
    top: 200px;
    font-size: 17px;
    color: rgb(235, 181, 118);
}

.icon_register_pass {
    position: absolute;
    right: 75px;
    top: 250px;
    font-size: 17px;
    color: rgb(235, 181, 118);

}

.icon_register_user {
    position: absolute;
    right: 75px;
    top: 90px;
    font-size: 17px;
    color: rgb(235, 181, 118);
}

.bgr_error {  
    width: 100%;
    height: 20px;
}

.error {
    color: red;
    font-size: 15px;
    margin: 0px;
}

.input_form {
    width: 265px;
    height: 45px;
    background: none !important;
    border: none;
    border-bottom: 2px solid rgb(235, 181, 118);
    color: rgb(235, 181, 118);
    font-size: 17px;
    outline: none !important;
    margin-bottom: 10px;
    padding-right: 50px;
}