.page-order {
    background-color: white;
    width: 100%;
    height: auto;
    float: left;
}

.page-order-img {
    float: left;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url('../../images/header-1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1520px 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.title-h2 {
    margin: 20px;
    font-size: 25px;
}




.order-img-content1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.order-img-content2 {
    color: white;
    font-size: 15px;
    margin: 0;
}

.order-img-content2 > i {
    padding: 0 5px;
    font-size: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
    color: rgb(235, 181, 118);
    top: -3px;
}

.order_cart {
    background-color: white;
    width: 1010px;
    height: auto;
    margin-left: 250px;
}

.page-order-item {
    background-color: white;
    height: auto;
    float: left;
    width: 100%;
}

.img-order {
    width: 80px;
    height: 80px;
}

.border_table,
tr {
    border: 1px solid rgb(231, 224, 224);
    border-collapse: collapse;
}

.border_table {
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

tr {
    width: 10px;
    height: 90px;
    padding: 15px;
}

.img_item_order {
    width: 50px;
    height: auto;
    padding: 20px;
    text-align: center;
}


.item_tang_giam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_tang_giam > button {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_remove_td {
    width: 30px;
    height: auto;
    padding: 20px;
    cursor: pointer;
}

.icon_remove {
    font-size: 30px;
    color: red;
    transition: 0.5s;
}


.border_table {
    width: 1010px;
    height: auto;
    margin-bottom: 5px;
}

.icon_remove:hover {
    color: rgb(104, 15, 15);
}

.order_product_item {
    width: 320px;
    height: auto;
    color: rgb(253, 184, 34);
    padding-left: 20px;
    font-size: 18px;
}

.order_product_price {
    width: 120px;
    height: auto;
    padding: 20px;
    color: rgb(90, 93, 98);
    font-size: 18px;
    text-align: center;
}

.up_down {
    height: 30px;
}

.order_product_quality {
    padding: 20px;
}

.up_down > td {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 22px;
    border: 1px solid rgb(231, 224, 224);

}

.up_down > .up_down_item {
    width: 50px;
    height: 30px;
    font-size: 15px;
    background-color: white;
}

.up,
.down {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.order_product_total {
    width: 100px;
    height: auto;
    padding: 30px;
    font-size: 18px;
    text-align: center;
}

.order_sanpham {
    text-align: left;
    padding-left: 20px;
}

.order_product_title {
    background-color: rgb(249, 249, 249);
    height: 70px;
}

.total {
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(231, 224, 224);
    width: 1010px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total > p {
    margin: 0 20px;
    color: rgb(253, 184, 34);
    font-weight: bold;
}

.buy {
    margin-left: 420px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 7px 40px;
    font-weight: bold;
    background-color: rgb(253, 184, 34);
    color: white;
    border: 2px solid rgb(253, 184, 34);
    border-radius: 3px;
    transition: 0.6s;
    cursor: pointer;
}

.buy:hover {
    background-color: white;
    color: rgb(253, 184, 34);
}

.boxCart {
    width: 100%;
    height: auto;
    text-align: center;
    background-size: 500px 500px;
}

.imgBoxCart{
    width: 520px;
    height: 300px;
}

.testBoxCart{
    text-align: center;
}

.testBoxCart>p{
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    color: rgba(6, 6, 6, 0.496);
}

.btnBoxCart {
    margin-bottom: 20px;
    margin-top: 16px;
    font-size: 20px;
    padding: 7px 30px;
    font-weight: bold;
    background-color: rgb(253, 184, 34);
    color: white;
    border: 2px solid rgb(253, 184, 34);
    border-radius: 3px;
    transition: 0.6s;
    cursor: pointer;
}

.btnBoxCart:hover {
    color: rgb(253, 184, 34);
    background-color: white;
}