.menu {
    background-color: white;
    width: 53%;
    height: 80px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-nav-item {
    font-family: Arial;
    font-size: 16px;
    border: none;
    background-color: none;
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 50px;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.menu-nav-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 14px;
    padding: 6px 13px;
    margin-left: 30px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    border: 3px solid rgb(85, 85, 85);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
}


.menu-nav-item-btn > .icon-menu {
    font-size: 16px;
}

.icon_my_cart {
    font-size: 18px;
    margin-right: 7px;
    margin-left: 7px;
}

.menu-nav-item:hover {
    color: rgb(235, 181, 118);
}

.menu-nav-item-btn:hover {
    border: 3px solid rgb(235, 181, 118);
    color: rgb(235, 181, 118);
}

.icon-menu {
    padding-right: 2px;
}

.user {
    width: 27%;
    height: 80px;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ctn_user {
    display: flex;
    cursor: pointer;
}

.user_dkdn > p {
    margin: 0;
    font-weight: bold;
    border-right: 2px solid rgb(85, 85, 85);
    font-size: 15px;
    padding-right: 8px;
    margin-right: 8px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    transition: 0.4s;
}

.user-cart-icon {
    font-size: 38px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    transition: 0.4s;
}

.user-cart-icon:hover {
    color: rgb(235, 181, 118);
}

.user_dkdn > p:hover {
    color: rgb(235, 181, 118);
}

.name_icon_user {

    width: 100%;
    height: 80px;
    display: block;
    text-align: center;
    align-items: center;
}

.name_icon_user:hover .userMenu {
    display: block;

}

.iconUser {
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
}

.nameUser {
    font-weight: bold;
    padding: 0 15px;
}


.userMenu {
    display: none;
    background-color: rgba(255, 255, 255, 0.948);
    width: 255px;
    height: 200px;
    position: fixed;
    top: 120px;
    right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.thongtin_sanpham {
    display: flex;
    font-weight: bold;
    text-align: center;
    align-items: center;
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-left: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.iconPass {
    display: flex;
    font-weight: bold;
    text-align: center;
    align-items: center;
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-left: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.bgrIcon1 {
    background-color: black;
    border-radius: 50%;
    /* width: 30px;
    height: 30px; */
    color: white;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 6px;
}


.bgrIcon2 {
    background-color: black;
    border-radius: 50%;
    /* width: 30px;
    height: 30px; */
    color: white;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px;
}


.bgrIcon3 {
    background-color: black;
    border-radius: 50%;
    color: white;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logout {
    display: flex;
    font-weight: bold;
    text-align: center;
    align-items: center;
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-left: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    background-color: #ebb576;
}

.thongtin_sanpham:hover {
    background-color: #ebb576;
}

.iconPass:hover {
    background-color: #ebb576;
}


.thongtin_sanpham>p{
    color: black;
}

.iconPass>p{
    color: black;
}